<div class="container">
  <div class="jumbotron">
    <h1>Ruby on Rails + AngularJS Tutorial</h1>
  <div>
  <div class="row" ng-controller="EventsCtrl">
    <div class="col-md-12">
    </div>
  </div>
</div>
